.banner {
    height: 86vh;

    h3 {
        font-size: 3.5rem;
    }

    h3, h5 {
        font-family: 'Lato', sans-serif;
    }

    @media (max-width : 576px) {
        h3 {
            font-size: 1.7rem;
        }

        h5 {
            font-size: 0.85rem;
        }
    }
}

.slider-first {
    background-image: url('../images/banner.png');
    background-position: top center;
    background-size: cover;
}

.slider-second {
    background-image: url('../images/slider1.png');
    background-position: top center;
    background-size: cover;
}

.slider-third {
    background-image: url('../images/slider2.png');
    background-position: top center;
    background-size: cover;
}
