.contact-us {
    label {
        color: rgb(121, 121, 121);
    }

    button {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    }

    @media (max-width : 576px) {
       padding-left: 20px;
       padding-right: 20px;

       .card {
           height: 380px;

           textarea {
            height: 150px;
           }
       }
    }
}