.currently {
    .current__icon {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        outline: none;
        background-color: white;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    }

    .icon {
        font-size: 55px;
        color:$primary;
        transform: translateZ(30px);
    }

    @media (max-width : 576px) {
        h2 {
            font-size: 1.7rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        .currently {
            margin-bottom: 0;
        }
    }
}