.dark-navigation{
    background-color: #212121 !important;

    padding: 20px 50px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    
    .logo {
        font-family: 'Alatsi', sans-serif;
        font-size: 32px;

        span {
            box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
        }
    }
    ul {
        li {
            margin-left: 20px;
              
            a {
                font-family: 'Open Sans', sans-serif;
                transition: all 0.5s ease;

                &:hover {
                    transform: translateY(-2px);
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }

    button {
        outline: none;
    }
}